:root {

    --font-primary : "Roboto", sans-serif;

    --clr-primary-dark : #095797;
    --clr-primary-light : #FFFFFF;
    --clr-primary-text : #FFFFFF;
    --clr-secondary-text : #095797;

    --text-small : 0.5rem;
    --text-medium : 0.625rem;
    --text-normal : 0.875rem;
    --text-large : 1.75rem;
    --text-extra : 3.5rem;

    --fw-thin : 100;
    --fw-normal : 400;
    --fw-bold : 700;

    --fs-normal : normal;
    --fs-italic : italic;
}